/* Work sans font for full website */
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
.text-lightgray{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
}
header{
    background: rgba(255, 144, 14, 0.1);
    padding:50px 240px;
}
nav{
    display:flex;
    justify-content:space-between ;
    align-items: center;
}
nav>ul{
    display: flex;
}
.nav-title{
    font-size:2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
   color: rgb(66, 66, 66);;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
     margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
}
.btn-primary{
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
background: rgb(255, 144, 14);
width: 180px;
height: 64px;
padding: 20px;
cursor:pointer;
color: rgb(255, 255, 255);
}
.banner img{
    width:100%;
    margin-top: 20px;
}

/* main styles */
main{
    max-width: 1140px;
    margin:70px auto;
}
.teams-container{
    display:flex;
    align-items: center;
    gap: 20px;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;

}
.teams-contet-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-contet-title .quick-list{
   font-weight:500;
   color: rgb(114, 114, 114);
}
.text-features{
  font-weight: 700;
  color: rgb(255, 144, 14);
}
/* responsive media queries for header */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding:20px;
    }
    nav{
        flex-direction: column;
    }
    
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding:50px;
    }
    nav,.teams-container{
        flex-direction: column;
    }
  

}
/* responsive media queries for team in main section */
/* mobile devices */
@media screen and (max-width: 576px){
    .teams-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
}
